<html>

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Software Quality Ashurance Interview Questions" content="Software Quality Ashurance Interview Questions">
    <meta name="Atanas Dachenski" content="Software Quality Ashurance Interview Questions">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/sqa.css">
    <link rel="stylesheet" href="css/normalize.css">

    <link rel="stylesheet" href="css/demo.css">

    <link rel="stylesheet" href="css/pushy.css">

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/modern-business.css">
    <script src="lib/jquery/dist/jquery.js"></script>
    <!--<script src="js/popper.min.js"></script>-->
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <style>
        .card-img-top {
            width: 100%;
        }
        
        .img-fluid {
            width: 100%;
        }
    </style>

    <title>Document</title>
</head>
<style>
    .main-logo {
        position: absolute;
        top: 10px;
        right: 7px;
    }
</style>

<body>
    <% include ./navigation.ejs %>
        <!--<div class="top-gap"></div>-->
        <div class="visible-xs" style="background-color:#464646;">
            <div class="container">
                <div class="row first-row">
                    <div class="col-xs-9 ">
                        <h4>SQA</h4>
                        <h3 style="font-size:1.5em"> Interview Questions</h3>
                        <h4>& Tests</h4>
                    </div>
                    <div class="col-xs-3">
                        <img src="../img/logo2.png" class="main-logo" alt="QA Logo">
                    </div>
                </div>
                <div class="row">
                    <a href="sqa-test">
                        <div class="col-xs-6 cell-container">
                            <div>SQA Test</div>
                            <img src="../img/test.png" style="width:65%" alt="Test">
                        </div>
                    </a>
                    <div class="col-xs-6 cell-container">
                        <div>Add Question</div>
                        <img src="../img/question.png" style="width:65%" alt="Question">
                    </div>
                    <a href="questions/qaBasics">
                        <div class="col-xs-6 cell-container">
                            <div>SQA Basics</div>
                            <img src="../img/qa_icon.png" style="width:65%" alt="SQA_Basics">
                        </div>
                    </a>
                    <a href="questions/testingTypes">
                        <div class="col-xs-6 cell-container">
                            <div>Testing Types</div>
                            <img src="../img/testing-types.png" style="width:65%" alt="Testing_Types">
                        </div>
                    </a>
                    <a href="questions/bugs">
                        <div class="col-xs-6 cell-container">
                            <div>Bugs</div>
                            <!--<i class="fa fa-lg fa-bug" aria-hidden="true"></i>-->
                            <img src="../img/bug.png" style="width:65%" alt="bug">
                        </div>
                    </a>
                    <a href="questions/documentation">
                        <div class="col-xs-6 cell-container">
                            <div>Documentation</div>
                            <img src="../img/document.png" style="width:65%" alt="dogumentation">
                        </div>
                    </a>
                    <a href="questions/mobile">
                        <div class="col-xs-6 cell-container">
                            <div>Mobile</div>
                            <img src="../img/mobile.png" style="width:65%" alt="Mobile">
                        </div>
                        <a>
                            <a href="questions/technical">
                                <div class="col-xs-6 cell-container">
                                    <div>Technical</div>
                                    <img src="../img/technical.png" style="width:65%" alt="Technical">
                                </div>
                            </a>
                </div>
            </div>
        </div>

        <!-- second view -->
        <div class="container hidden-xs">

            <h1 class="my-4">SQA Interview Questions and Test</h1>

            <!-- Marketing Icons Section -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <h4 class="card-header">Questions Jquery</h4>
                        <div class="card-block">
                            <p class="card-text">Here you can play with all the questions fast and reliable without to have reloading the page
                                every time.</p>
                        </div>
                        <div class="card-footer">
                            <a href="/questions" class="btn btn-primary">Start</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Test</h4>
                        <div class="card-body">
                            <p class="card-text">
                                You can take a Software Quality Ashurance test to check if you are redy for real interview. So far we have over 100 test
                                question from witch you will randomly pick-up 10 every time you take in the test.</p>
                        </div>
                        <div class="card-footer">
                            <a href="sqa-test" class="btn btn-primary">Start</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Submit Question</h4>
                        <div class="card-body">
                            <p class="card-text">You can help us make the site better like you submit you real interview question.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Start</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <!-- Portfolio Section -->
            <h2>Today's learning</h2>
            <h3>Types of testing</h3>
            <div class="row">
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">Project One</a></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente
                                nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora
                                ex quae? Nihil, dolorem!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">Project Two</a></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                                urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">Project Three</a></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque,
                                odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis
                                mollitia recusandae vero vel quam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h3>Documentation</h3>
                </div>

                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">Project Four</a></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                                urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">Project Five</a></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                                urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">Project Six</a></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus
                                nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat
                                fugiat excepturi! Nemo, esse.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <!-- Features Section -->
            <div class="row">
                <div class="col-lg-6">
                    <h2>Modern Business Features</h2>
                    <p>The Modern Business template by Start Bootstrap includes:</p>
                    <ul>
                        <li><strong>Bootstrap v4</strong>
                        </li>
                        <li>jQuery</li>
                        <li>Font Awesome</li>
                        <li>Working contact form with validation</li>
                        <li>Unstyled page elements for easy customization</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit,
                        quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus
                        unde.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
                </div>
            </div>
            <!-- /.row -->

            <hr>

            <!-- Call to Action Section -->
            <div class="row mb-4">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti
                        beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
                </div>
            </div>

        </div>
        <script src="js/pushy.min.js"></script>

</body>

</html>