<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/sqa.css">
    <link rel="stylesheet" href="../css/normalize.css">

    <link rel="stylesheet" href="../css/demo.css">

    <link rel="stylesheet" href="../css/pushy.css">

    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/modern-business.css">
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script> 

    <title>
        <%=title%>
    </title>
</head>

<body class="questions-background">
    <script>
        function populateAcordeon(val, count) {

            var panelDiv = $("<div/>", {
                "class": "card"
            });
            var panelHeadingDiv = $("<div/>", {

                "class": "card-header"
            }).appendTo(panelDiv);

            var panelTitleH4 = $("<h6/>", {
                "class": "mb-0"
            }).appendTo(panelHeadingDiv);

            var anchor = $("<a/>", {
                "class": "btn-link",
                "data-toggle": "collapse",
                "data-parent": "#accordion",
                "href": "#nas" + count
            }).appendTo(panelTitleH4);

            var divContent = $("<div/>", {
                "text": val.title
            }).appendTo(anchor);

            var panelCollapse = $('<div/>', {
                "id": "nas" + count,
                "class": "collapse",
                "aria-labelledby":"headingOne",
                "data-parent":"#accordion"
            }).appendTo(panelDiv);

            var panelBody = $('<div/>', {
                "class": "card-body",
                "html": val.content + "<div><b>More info <b><a href='/questions/" + count + "'>here</a>.</div>"
            }).appendTo(panelCollapse);

            panelDiv.appendTo("#accordion");
        }

        function populateHtml(items) {

            var currentCategory = $("#category").val();
            var categoryText = $("#category  option:selected").text();
            var currentRandom = $("#random").val();
            $("#headerTitle").html(categoryText);
            if (currentRandom > 0) {
                $("#subTitle").html(currentRandom + " random questions");
            }

            var randomTarget = $("#random").val();

            var finalQuestions = (function () {
                var count = 0;
                var tempCategoryArr = [];
                $.each(items, function (key, val) {

                    if (currentCategory == val.category) {
                        tempCategoryArr.push(val);
                        populateAcordeon(val, count);
                    }
                    count++;
                });
                console.log(tempCategoryArr);
                return tempCategoryArr;
            })();

            var randomQuestions = (function () {
                var randomArr = [];
                if (randomTarget != 0) {
                    for (var y = 0; y < randomTarget; y += 1) {
                        var randNumber = Math.floor(Math.random() * finalQuestions.length);
                        var randQuestion = finalQuestions[randNumber];
                        var found = false;
                        if (y == 0) {
                            randomArr.push(randQuestion);
                            continue;
                        }

                        for (var z = 0; z < randomArr.length; z += 1) {
                            if (randQuestion.id === randomArr[z].id) {
                                found = true;
                                y--;
                            }
                        }
                        if (!found) {
                            randomArr.push(randQuestion);
                            found = false;
                        }
                    }
                }
                if(randomTarget==0){
                    randomArr = finalQuestions;
                }
                return randomArr;
            })();

            return {
                allCategory: finalQuestions,
                randomQuestions: randomQuestions
            }
        }
        $(window).on('load', function () {

            var items = [];

            $.getJSON("json/portnovQuestions3.json", function (data) {
                items = data;
                var initialData = populateHtml(items).randomQuestions;
                getRandomQuestions(initialData);
            });

            $('#category').on('change', function () {

                var changeOnCategory = populateHtml(items).randomQuestions;
                getRandomQuestions(changeOnCategory);

            });

            $("#random").on('change', function () {
                var changeOnValue = populateHtml(items).randomQuestions;
                getRandomQuestions(changeOnValue);
            })
        });

        function getRandomQuestions(data){

            $("#accordion").html("");
            var count = 0;
            $.each(data, function (key, val) {
                populateAcordeon(val, count)
                count++;
            });
        }
    </script>

    <% include ./navigation.ejs %>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-lg-3"></div>
                    <div class="col-xs-12 col-sm-8 col-lg-6">

                        <h2 class="playfair" id="headerTitle" style="color:#464646; padding-top: 15px">
                            <%=title%>
                        </h2>
                        <h4 class="playfair" id="subTitle">All questions</h4>
                        <h4>
                            <select class="form-control-sm" name="category" id="category">
                            <option value="qaBasics">SQA Basics</option>
                            <option value="testingTypes">Testing Types</option>
                            <option value="bugs">Bugs</option>
                            <option value="documentation">Documentation</option>
                            <option value="technical">Technical</option>
                            <option value="mobile">Mobile</option>
                        </select>
                            <select class="form-control-sm" name="random" id="random">
                            <option value="5">5</option>
                            <option value="7">7</option>
                            <option value="10">10</option>
                            <option value="0">All</option>
                        </select>
                        </h4>
                    </div>
                    <div class="col-sm-2 col-lg-3"></div>
                </div>

                <div class="row">
                    <div class="col-sm-2 col-lg-3"></div>
                    <div class="col-xs-12 col-sm-8 col-lg-6">
                        <div  id="accordion">
                        </div>
                    </div>
                    <div class="col-sm-2 col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-lg-3"></div>
                    <div class="col-xs-12 col-sm-8 col-lg-6 center sqa-btn">
                        <hr/>
                        <div class="playfair" >Interview Questions for interns</div>
                    </div>
                    <div class="col-sm-2 col-lg-3"></div>
                </div>
            </div>
        </div>
        <script src="../js/pushy.min.js"></script>
</body>

</html>