# Created by .ignore support plugin (hsz.mobi)
# add font awesom to public/lib when push to heroku
.idea
node_modules
views/forTest.ejs
server/routes/homeRouter.js
public/lib/font-awesome
npm-debug.log
.git
